<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Confirm</title>
    <%- include('../partials/imports') %>
    <link rel="stylesheet" href="/public/styles/confirm.css">
</head>
<body>
    <%- include('../partials/nav', {isAdmin:true, showLogo:true}) %>

    <section class="f v padded extra" style="overflow: auto" >

        <main>
            <div class="f v" style="width: 350px">
                <h3 style="margin:0">Thank you!</h3>
                <p>Here is what you've checked out</p>
            </div>
            <div class="f v confirm-summary" style="width: 350px">
                <% for (let itm of items){ %>
                <div><%= itm.name %> <i>x<%= itm.quantity %></i></div>
                <% } %>
            </div>
            <br>
            <br>
            <div class="confirm-buttons">
                <button class="button-primary" style="height:40px" onclick="location.href='/'">Finish and Sign Out!</button>
            </div>
        </main>

    </section>

    <%- include('../partials/footer') %>

</body>
</html>